WCFReferenceServiceClient/Service References/WCFRef/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WCFService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="TCPEndpoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WCFReferenceService" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceContract_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_StorePLCDataPacketDecoderConfiguration_InputMessage">
    <wsdl:part name="parameters" element="tns:StorePLCDataPacketDecoderConfiguration" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_StorePLCDataPacketDecoderConfiguration_OutputMessage">
    <wsdl:part name="parameters" element="tns:StorePLCDataPacketDecoderConfigurationResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_GetPLCDataPacketDecoderConfiguration_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPLCDataPacketDecoderConfiguration" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_GetPLCDataPacketDecoderConfiguration_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPLCDataPacketDecoderConfigurationResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceContract">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceContract/GetData" message="tns:IServiceContract_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceContract/GetDataResponse" message="tns:IServiceContract_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceContract/GetDataUsingDataContract" message="tns:IServiceContract_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceContract/GetDataUsingDataContractResponse" message="tns:IServiceContract_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StorePLCDataPacketDecoderConfiguration">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceContract/StorePLCDataPacketDecoderConfiguration" message="tns:IServiceContract_StorePLCDataPacketDecoderConfiguration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceContract/StorePLCDataPacketDecoderConfigurationResponse" message="tns:IServiceContract_StorePLCDataPacketDecoderConfiguration_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPLCDataPacketDecoderConfiguration">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceContract/GetPLCDataPacketDecoderConfiguration" message="tns:IServiceContract_GetPLCDataPacketDecoderConfiguration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceContract/GetPLCDataPacketDecoderConfigurationResponse" message="tns:IServiceContract_GetPLCDataPacketDecoderConfiguration_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TCPEndpoint" type="tns:IServiceContract">
    <wsp:PolicyReference URI="#TCPEndpoint_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetData">
      <soap12:operation soapAction="http://tempuri.org/IServiceContract/GetData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap12:operation soapAction="http://tempuri.org/IServiceContract/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StorePLCDataPacketDecoderConfiguration">
      <soap12:operation soapAction="http://tempuri.org/IServiceContract/StorePLCDataPacketDecoderConfiguration" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPLCDataPacketDecoderConfiguration">
      <soap12:operation soapAction="http://tempuri.org/IServiceContract/GetPLCDataPacketDecoderConfiguration" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="HTTPEndpoint" type="tns:IServiceContract">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IServiceContract/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IServiceContract/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StorePLCDataPacketDecoderConfiguration">
      <soap:operation soapAction="http://tempuri.org/IServiceContract/StorePLCDataPacketDecoderConfiguration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPLCDataPacketDecoderConfiguration">
      <soap:operation soapAction="http://tempuri.org/IServiceContract/GetPLCDataPacketDecoderConfiguration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WCFService">
    <wsdl:port name="TCPEndpoint" binding="tns:TCPEndpoint">
      <soap12:address location="net.tcp://localhost:9000/WCFReferenceService/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:9000/WCFReferenceService/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>ULTRAWOLF\Mark</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="HTTPEndpoint" binding="tns:HTTPEndpoint">
      <soap:address location="http://localhost:9001/WCFReferenceService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>