WCFReferenceServiceClient/Service References/WCFRef/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WCFReferenceService" />
  <xs:element name="StorePLCDataPacketConfiguration">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFReferenceService" minOccurs="0" name="PLCPacket" nillable="true" type="q1:PLCDataPacketConfiguration" />
        <xs:element minOccurs="0" name="configurationName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StorePLCDataPacketConfigurationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPLCDataPacketConfiguration">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="configurationName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPLCDataPacketConfigurationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFReferenceService" minOccurs="0" name="GetPLCDataPacketConfigurationResult" nillable="true" type="q2:PLCDataPacketConfiguration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>