WCFReferenceServiceClient/Service References/WCFRef/WCFReferenceService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFReferenceService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFReferenceService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="PLCDataPacketConfiguration">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bytes" nillable="true" type="tns:ArrayOfDataByte" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PLCDataPacketConfiguration" nillable="true" type="tns:PLCDataPacketConfiguration" />
  <xs:complexType name="ArrayOfDataByte">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DataByte" nillable="true" type="tns:DataByte" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDataByte" nillable="true" type="tns:ArrayOfDataByte" />
  <xs:complexType name="DataByte">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bits" nillable="true" type="tns:ArrayOfDataBit" />
      <xs:element minOccurs="0" name="ByteIndex" type="xs:int" />
      <xs:element minOccurs="0" name="ContainsBits" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsHeaderOrFooter" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataByte" nillable="true" type="tns:DataByte" />
  <xs:complexType name="ArrayOfDataBit">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DataBit" nillable="true" type="tns:DataBit" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDataBit" nillable="true" type="tns:ArrayOfDataBit" />
  <xs:complexType name="DataBit">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="AGVTags" nillable="true" type="q1:ArrayOfint" />
      <xs:element minOccurs="0" name="BitIndex" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataBit" nillable="true" type="tns:DataBit" />
</xs:schema>